.fundoLogin {
    background-image: url("https://ik.imagekit.io/pphc/login%20(1).png?updatedAt=1741233872117");
    background-repeat: no-repeat;
    min-height: 70vh;
    width: 45%;
    background-size: cover; 
    background-position: center;
    border-radius: 2rem;
}